* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

form {
  display: block;
  position: absolute;
  margin: auto;
  top: 50px;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

.content {
  padding-top: 10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
}

/*.Toastify__toast--warning{*/
/*  color: #1a1a1a!important;*/
/*}*/

.Toastify__toast--dark{
  background: #f1c40f00!important;
}

.Toastify__close-button{
  display: none!important;
}